<%= render @reading_list %>
<%= render :partial => 'comments/comment_form', :locals => { :comment => @comment } %>

<% if session[:logged_in] %>
  <button class="btn btn-primary follow" data-list="<%= @reading_list.id %>">
    <% if @following %>
      Following
    <% else %>
      Follow
    <% end %>
  </button>
<% end %>
<div id="comments">
  <%= render @comments %>
</div>
