<div class="comment-form">
  <%= form_for comment, :url => reading_list_comments_path(@reading_list), :remote => true do |f| %>
    <%= f.hidden_field :parent_id %>
    <fieldset>
      <%= f.text_area :body %>
    </fieldset>
    <fieldset>
      <%= f.submit :value => "Post comment", :class => "post"%>
    </fieldset>
  <% end %>
</div>