<div id="search">
  <%= form_tag searches_search_path, :method => 'get' do %>
    <fieldset>
      <%= text_field_tag :search, "Enter search term" %>
    </fieldset>
    <%= submit_tag :search %>
  <% end %>
</div>