.story {
  margin-bottom: 8px;
  color: black;
  list-style-type: none;
  border-radius: 5px;
  padding: 8px;
  box-shadow: 4px 4px 2px #DBD6D6;
  background-color: #FFFFFF;
}

.publishing_details{
  text-align: left;
  float: left;
}

.story_nav {
  float: right;
}

.publishing-details p {
  font-style: italic;
}