.trend {
  margin-bottom: 2px;
  background-color: #4099FF;
  color: white;
  list-style-type: none;
  border-radius: 5px;
  font-size: 0.7em;
  text-align: center;
  box-shadow: 4px 4px 1px #DBD6D6;
  cursor: pointer;
}

.trend:hover {
  background-color: #1D7EEC;
  box-shadow: 2px 2px 0px #DBD6D6;
}
