<!DOCTYPE html>
<html>
<head>
  <title>Trender</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main"></div>
<div id="side"></div>
<%= yield %>

</body>
</html>
